extends layout
include ../components/mixins

append variable
  - 
    let page            = "student"
    let pageTitle       = "الطالب - لوحة التحكم"


//- content This page
block studentContent
  // Start alerts section
  section.main-alert.live-alert.alert.fade.show(role="alert")
    .alert-box
      a.subscribe-button.white.d-none.d-sm-flex(href=`${siteDomin}/student/live-feed.html`) يجري الان
        <svg width="21" height="17" viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.73 14.7758H15.0413C18.1475 14.7758 19.25 13.012 19.25 11.3687V5.6312C19.25 3.18037 18.0688 2.22412 15.0413 2.22412H9.73C6.7025 2.22412 5.52125 3.18037 5.52125 5.6312V11.3687C5.52125 13.8195 6.7025 14.7758 9.73 14.7758ZM15.0413 3.30079C17.325 3.30079 17.92 3.78245 17.92 5.6312V11.3687C17.92 12.24 17.5437 13.6991 15.0413 13.6991H9.73C7.44625 13.6991 6.85125 13.2175 6.85125 11.3687V5.6312C6.85125 3.78245 7.44625 3.30079 9.73 3.30079H15.0413Z" fill="#040349"/><path d="M2.81777 12.828C3.19402 12.828 3.67527 12.7288 4.22652 12.4172L6.56277 11.0926C6.73777 10.9934 6.84277 10.8305 6.84277 10.6534V6.34676C6.84277 6.16968 6.73777 6.00676 6.56277 5.9076L4.22652 4.58301C3.18527 3.9951 2.42403 4.1651 2.06527 4.31385C1.70652 4.46968 1.09402 4.87343 1.09402 5.90051V11.0926C1.09402 12.1197 1.70652 12.5305 2.06527 12.6793C2.23152 12.7572 2.49402 12.828 2.81777 12.828ZM5.52152 10.3701L3.46527 11.5318C3.07152 11.7513 2.79152 11.7726 2.67777 11.723C2.55527 11.6734 2.42402 11.4751 2.42402 11.0926V5.9076C2.42402 5.51801 2.56402 5.32676 2.67777 5.27718C2.79152 5.2276 3.07152 5.24885 3.46527 5.46843L5.52152 6.6301V10.3701Z" fill="#040349"/><path d="M10.9375 8.32275C12.0225 8.32275 12.9062 7.60734 12.9062 6.729C12.9062 5.85067 12.0225 5.13525 10.9375 5.13525C9.8525 5.13525 8.96875 5.85067 8.96875 6.729C8.96875 7.60734 9.8525 8.32275 10.9375 8.32275ZM10.9375 6.19775C11.2962 6.19775 11.5938 6.43859 11.5938 6.729C11.5938 7.01942 11.2962 7.26025 10.9375 7.26025C10.5787 7.26025 10.2812 7.01942 10.2812 6.729C10.2812 6.43859 10.5787 6.19775 10.9375 6.19775Z" fill="#040349"/></svg>
      p.text هل تود الانضمام الي البث الجاري الان ( لفة عربية - المعلم, محمد السيد سعيد ) !؟
      a.subscribe-button(href=`${siteDomin}/student/live-feed.html`) دخول البث
        <svg width="21" height="17" viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.73 14.7758H15.0413C18.1475 14.7758 19.25 13.012 19.25 11.3687V5.6312C19.25 3.18037 18.0688 2.22412 15.0413 2.22412H9.73C6.7025 2.22412 5.52125 3.18037 5.52125 5.6312V11.3687C5.52125 13.8195 6.7025 14.7758 9.73 14.7758ZM15.0413 3.30079C17.325 3.30079 17.92 3.78245 17.92 5.6312V11.3687C17.92 12.24 17.5437 13.6991 15.0413 13.6991H9.73C7.44625 13.6991 6.85125 13.2175 6.85125 11.3687V5.6312C6.85125 3.78245 7.44625 3.30079 9.73 3.30079H15.0413Z" fill="#040349"/><path d="M2.81777 12.828C3.19402 12.828 3.67527 12.7288 4.22652 12.4172L6.56277 11.0926C6.73777 10.9934 6.84277 10.8305 6.84277 10.6534V6.34676C6.84277 6.16968 6.73777 6.00676 6.56277 5.9076L4.22652 4.58301C3.18527 3.9951 2.42403 4.1651 2.06527 4.31385C1.70652 4.46968 1.09402 4.87343 1.09402 5.90051V11.0926C1.09402 12.1197 1.70652 12.5305 2.06527 12.6793C2.23152 12.7572 2.49402 12.828 2.81777 12.828ZM5.52152 10.3701L3.46527 11.5318C3.07152 11.7513 2.79152 11.7726 2.67777 11.723C2.55527 11.6734 2.42402 11.4751 2.42402 11.0926V5.9076C2.42402 5.51801 2.56402 5.32676 2.67777 5.27718C2.79152 5.2276 3.07152 5.24885 3.46527 5.46843L5.52152 6.6301V10.3701Z" fill="#040349"/><path d="M10.9375 8.32275C12.0225 8.32275 12.9062 7.60734 12.9062 6.729C12.9062 5.85067 12.0225 5.13525 10.9375 5.13525C9.8525 5.13525 8.96875 5.85067 8.96875 6.729C8.96875 7.60734 9.8525 8.32275 10.9375 8.32275ZM10.9375 6.19775C11.2962 6.19775 11.5938 6.43859 11.5938 6.729C11.5938 7.01942 11.2962 7.26025 10.9375 7.26025C10.5787 7.26025 10.2812 7.01942 10.2812 6.729C10.2812 6.43859 10.5787 6.19775 10.9375 6.19775Z" fill="#040349"/></svg>
    button(type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close")
      i.fa-regular.fa-circle-xmark
  // End alerts section
  // Start home layout  section
  section.dashboard-home-layout
    article.dashboard-home-content
      // Start student teachers section
      section.student-teachers 
        .student-heading 
          h2.heading المدرسين المشترك معهم
          a.link(href=`${siteDomin}/student/teachers.html`) 
            span.text عرض كل المدرسين
            i.fa-solid.fa-arrow-left-long
        .teachers-box
          - for (let i = 1; i <= 4; i++)
            a.teacher-section.small(href=`${siteDomin}/student/teacher-material.html`)
              .image
                img(src=`${siteDomin}/assets/images/teacher-1.webp`, alt="اسماء سعيد علي")
              .content
                p.number-lessons 
                  span.number 8
                  span دروس
                h3.name اسماء سعيد علي
                h5.subject فيزياء
                p.rate
                  i.fa-regular.fa-star
                  span 43 تقييم ايجابي
      // End student teachers section
      // Start student lessons section
      section.student-lessons 
        .student-heading 
          h2.heading احدث الدروس والحصص التي تم نشرها من مدرسيك
          a.link(href=`${siteDomin}/student/my-lessons.html`) 
            span.text عرض كل الدروس
            i.fa-solid.fa-arrow-left-long
        .lessons.box
          section.student-lesson-section 
            section.box
              section.image 
                a(href=`${siteDomin}/student/lesson.html`) 
                  img(src=`${siteDomin}/assets/images/lesson-image-2.webp`, alt="اساسيات المعادلات الكميائية")
              section.content 
                span.lesson-badge جديد
                h3.heading #[a(href=`${siteDomin}/student/lesson.html`) الدرس الثاني : اساسيات المعادلات الكميائية]
                h5.links 
                  a(href=`${siteDomin}/student/teacher-material.html`) المعلم : علياء محمد السيد
                  a(href="#") كمياء عضوية
            section
              span.lesson-price 20 / جنيها مصريا
            section
              a.lesson-action(href=`#payment_popup` data-bs-toggle="modal")
                span شراء الحصة
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.8458 9.02185C3.24868 7.00746 3.45012 6.00027 4.11572 5.35158C4.23874 5.23168 4.37183 5.12257 4.51352 5.02546C5.28016 4.5 6.30729 4.5 8.36157 4.5H9.63877C11.693 4.5 12.7202 4.5 13.4868 5.02546C13.6285 5.12257 13.7616 5.23168 13.8846 5.35158C14.5502 6.00027 14.7517 7.00746 15.1545 9.02185C15.7329 11.9139 16.0221 13.3599 15.3564 14.3845C15.2359 14.57 15.0952 14.7416 14.9369 14.8962C14.0627 15.75 12.5881 15.75 9.63877 15.75H8.36157C5.41229 15.75 3.93765 15.75 3.06347 14.8962C2.90519 14.7416 2.76449 14.57 2.64395 14.3845C1.9782 13.3599 2.2674 11.9139 2.8458 9.02185Z" stroke="#040349"/><path d="M6.75 4.5V3.75C6.75 2.50736 7.75736 1.5 9 1.5C10.2426 1.5 11.25 2.50736 11.25 3.75V4.5" stroke="#040349" stroke-linecap="round"/><path d="M6.87793 11.25C7.18681 12.1239 8.02024 12.75 8.9999 12.75C9.97956 12.75 10.813 12.1239 11.1219 11.25" stroke="#040349" stroke-linecap="round"/></svg>
          section.student-lesson-section 
            section.box
              section.image 
                a(href=`${siteDomin}/student/lesson.html`) 
                  img(src=`${siteDomin}/assets/images/lesson-image-2.webp`, alt="اساسيات المعادلات الكميائية")
              section.content 
                span.lesson-badge 7-10-2023
                h3.heading #[a(href=`${siteDomin}/student/lesson.html`) الفصل الاول - الدرس الاول - اساسيات النحو العربي]
                h5.links 
                  a(href=`${siteDomin}/student/teacher-material.html`) المعلم : علياء محمد السيد
                  a(href="#") لغة عربية
            section
              span.lesson-price تم الشراء
            section
              a.lesson-action.watch(href=`${siteDomin}/student/lesson.html`)
                span مشاهدة
                i.fa-regular.fa-circle-play
          section.student-lesson-section 
            section.box
              section.image 
                a(href=`${siteDomin}/student/lesson.html`) 
                  img(src=`${siteDomin}/assets/images/lesson-image-2.webp`, alt="اساسيات المعادلات الكميائية")
              section.content 
                span.lesson-badge 7-10-2023
                h3.heading #[a(href=`${siteDomin}/student/lesson.html`) الفصل الاول - الدرس الاول - اساسيات النحو العربي]
                h5.links 
                  a(href=`${siteDomin}/student/teacher-material.html`) المعلم : علياء محمد السيد
                  a(href="#") لغة عربية
            section
              span.lesson-price تم الشراء
            section
              a.lesson-action.watch(href=`${siteDomin}/student/lesson.html`)
                span مشاهدة
                i.fa-regular.fa-circle-play
      // End student lessons section
    aside.dashboard-home-summary
      .student-heading.justify-content-center
        h2.heading احصائيات تهمك
      article.student-summary
        // Start materials summary section
        section.materials-summary
          h3.summary-heading المواد الدراسية المسجل بها
          .summary-box
            - for (let i = 1; i <= 2; i++)
                section.summary-progress.low
                  h4.heading الكمياء العضوية
                  .progress-box
                    .progress
                      span.progress-bar(role="progressbar" style="width: 21%" aria-valuenow="21" aria-valuemin="0" aria-valuemax="100")
                    p.Percentage 21%
                section.summary-progress.middle
                  h4.heading الكمياء العضوية
                  .progress-box
                    .progress
                      span.progress-bar(role="progressbar" style="width: 73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100")
                    p.Percentage 73%
                section.summary-progress.high
                  h4.heading رياضيات
                  .progress-box
                    .progress
                      span.progress-bar(role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100")
                    p.Percentage 90%
        // End materials summary section
        // Start wallet summary section
        section.wallet-summary
          h3.heading  محفظتي           
          .absolute-box
            a.wallet-action(href="#")
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.3324 9.16683C18.3248 6.57158 18.2428 5.19572 17.3569 4.30981C16.3805 3.3335 14.8092 3.3335 11.6665 3.3335H8.33317C5.19047 3.3335 3.61913 3.3335 2.64281 4.30981C1.6665 5.28612 1.6665 6.85747 1.6665 10.0002C1.6665 13.1429 1.6665 14.7142 2.64281 15.6905C3.61913 16.6668 5.19047 16.6668 8.33317 16.6668H9.58317" stroke="#06D9C8" stroke-linecap="round"/><path d="M12.9167 11.6665V16.6665M12.9167 16.6665L14.5833 14.9998M12.9167 16.6665L11.25 14.9998M16.6667 16.6665V11.6665M16.6667 11.6665L18.3333 13.3332M16.6667 11.6665L15 13.3332" stroke="#06D9C8" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.33333 13.3335H5" stroke="#06D9C8" stroke-linecap="round"/><path d="M1.6665 8.3335L18.3332 8.3335" stroke="#06D9C8" stroke-linecap="round"/></svg>
              span السجل
            a.wallet-action(href="#")
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.1835 9.7915H13.3335C12.9918 9.7915 12.7085 9.50817 12.7085 9.1665V3.3415C12.7085 2.72484 12.9502 2.14984 13.3835 1.71651C13.8168 1.28317 14.3918 1.0415 15.0085 1.0415H15.0168C16.0585 1.04984 17.0418 1.45817 17.7918 2.19984C18.5418 2.95817 18.9502 3.95817 18.9502 4.99984V7.0165C18.9585 8.67484 17.8418 9.7915 16.1835 9.7915ZM13.9585 8.5415H16.1835C17.1502 8.5415 17.7085 7.98317 17.7085 7.0165V4.99984C17.7085 4.28317 17.4252 3.59984 16.9168 3.08317C16.4085 2.58317 15.7252 2.29984 15.0168 2.2915C15.0168 2.2915 15.0168 2.2915 15.0085 2.2915C14.7335 2.2915 14.4668 2.39984 14.2668 2.59984C14.0668 2.79984 13.9585 3.05817 13.9585 3.3415V8.5415Z" fill="#06D9C8"/><path d="M7.49984 19.4415C7.10817 19.4415 6.7415 19.2915 6.4665 19.0082L5.08317 17.6165C5.00817 17.5415 4.8915 17.5332 4.80817 17.5998L3.37484 18.6665C2.93317 18.9998 2.34984 19.0582 1.84984 18.8082C1.34984 18.5582 1.0415 18.0582 1.0415 17.4998V4.99984C1.0415 2.48317 2.48317 1.0415 4.99984 1.0415H14.9998C15.3415 1.0415 15.6248 1.32484 15.6248 1.6665C15.6248 2.00817 15.3415 2.2915 14.9998 2.2915C14.4248 2.2915 13.9582 2.75817 13.9582 3.33317V17.4998C13.9582 18.0582 13.6498 18.5582 13.1498 18.8082C12.6498 19.0582 12.0665 19.0082 11.6248 18.6748L10.1998 17.6082C10.1165 17.5415 9.99984 17.5582 9.93317 17.6248L8.53317 19.0248C8.25817 19.2915 7.8915 19.4415 7.49984 19.4415ZM4.92484 16.3082C5.30817 16.3082 5.68317 16.4498 5.9665 16.7415L7.34984 18.1332C7.39984 18.1832 7.4665 18.1915 7.49984 18.1915C7.53317 18.1915 7.59984 18.1832 7.64984 18.1332L9.04984 16.7332C9.5665 16.2165 10.3832 16.1665 10.9582 16.6082L12.3748 17.6665C12.4665 17.7332 12.5498 17.7082 12.5915 17.6832C12.6332 17.6582 12.7082 17.6082 12.7082 17.4998V3.33317C12.7082 2.95817 12.7998 2.59984 12.9582 2.2915H4.99984C3.14984 2.2915 2.2915 3.14984 2.2915 4.99984V17.4998C2.2915 17.6165 2.3665 17.6665 2.40817 17.6915C2.45817 17.7165 2.5415 17.7332 2.62484 17.6665L4.04984 16.5998C4.30817 16.4082 4.6165 16.3082 4.92484 16.3082Z" fill="#06D9C8"/><path d="M10 11.4668H7.5C7.15833 11.4668 6.875 11.1835 6.875 10.8418C6.875 10.5001 7.15833 10.2168 7.5 10.2168H10C10.3417 10.2168 10.625 10.5001 10.625 10.8418C10.625 11.1835 10.3417 11.4668 10 11.4668Z" fill="#06D9C8"/><path d="M10 8.1333H7.5C7.15833 8.1333 6.875 7.84997 6.875 7.5083C6.875 7.16663 7.15833 6.8833 7.5 6.8833H10C10.3417 6.8833 10.625 7.16663 10.625 7.5083C10.625 7.84997 10.3417 8.1333 10 8.1333Z" fill="#06D9C8"/><path d="M4.97493 8.34147C4.5166 8.34147 4.1416 7.96647 4.1416 7.50814C4.1416 7.0498 4.5166 6.6748 4.97493 6.6748C5.43327 6.6748 5.80827 7.0498 5.80827 7.50814C5.80827 7.96647 5.43327 8.34147 4.97493 8.34147Z" fill="#06D9C8"/><path d="M4.97493 11.675C4.5166 11.675 4.1416 11.3 4.1416 10.8416C4.1416 10.3833 4.5166 10.0083 4.97493 10.0083C5.43327 10.0083 5.80827 10.3833 5.80827 10.8416C5.80827 11.3 5.43327 11.675 4.97493 11.675Z" fill="#06D9C8"/></svg>
              span الفواتير
          .wallet-box
            p.wallet-price
              span.number 1,237
              span.currency جنية مصري
            span.separator
            a.wallet-action(href="#payment_popup", data-bs-toggle="modal" )
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_147_1103)"><path d="M4.64254 5.85758C4.46254 5.85758 4.29754 5.77509 4.18504 5.62509C4.05754 5.45259 4.04254 5.22756 4.14004 5.04006C4.26754 4.78506 4.44753 4.53759 4.68003 4.31259L7.11753 1.86758C8.36253 0.630078 10.3875 0.630078 11.6325 1.86758L12.945 3.2026C13.5 3.7501 13.8375 4.4851 13.875 5.2651C13.8825 5.4376 13.815 5.60258 13.6875 5.71508C13.56 5.82758 13.3875 5.88008 13.2225 5.85008C13.0725 5.82758 12.915 5.82009 12.75 5.82009H5.25004C5.07004 5.82009 4.89754 5.83508 4.72504 5.85758C4.70254 5.85758 4.67254 5.85758 4.64254 5.85758ZM5.89504 4.68759H12.615C12.5175 4.43259 12.36 4.20009 12.15 3.99009L10.83 2.65507C10.0275 1.86007 8.71503 1.86007 7.90503 2.65507L5.89504 4.68759Z" fill="#06D9C8"/><path d="M3.75 17.8125C2.505 17.8125 1.335 17.1525 0.705 16.08C0.3675 15.54 0.1875 14.9025 0.1875 14.25C0.1875 12.285 1.785 10.6875 3.75 10.6875C5.715 10.6875 7.3125 12.285 7.3125 14.25C7.3125 14.9025 7.1325 15.54 6.795 16.0875C6.165 17.1525 4.995 17.8125 3.75 17.8125ZM3.75 11.8125C2.4075 11.8125 1.3125 12.9075 1.3125 14.25C1.3125 14.6925 1.4325 15.1275 1.665 15.5025C2.1075 16.2525 2.8875 16.6875 3.75 16.6875C4.6125 16.6875 5.3925 16.245 5.835 15.51C6.0675 15.1275 6.1875 14.7 6.1875 14.25C6.1875 12.9075 5.0925 11.8125 3.75 11.8125Z" fill="#06D9C8"/><path d="M4.86732 14.7974H2.63232C2.32482 14.7974 2.06982 14.5424 2.06982 14.2349C2.06982 13.9274 2.32482 13.6724 2.63232 13.6724H4.87482C5.18232 13.6724 5.43732 13.9274 5.43732 14.2349C5.43732 14.5424 5.18232 14.7974 4.86732 14.7974Z" fill="#06D9C8"/><path d="M3.75 15.9451C3.4425 15.9451 3.1875 15.6901 3.1875 15.3826V13.1401C3.1875 12.8326 3.4425 12.5776 3.75 12.5776C4.0575 12.5776 4.3125 12.8326 4.3125 13.1401V15.3826C4.3125 15.6976 4.0575 15.9451 3.75 15.9451Z" fill="#06D9C8"/><path d="M12.7499 17.0625H5.72236C5.48236 17.0625 5.27236 16.9125 5.18986 16.695C5.10736 16.47 5.17486 16.2225 5.35486 16.0725C5.53486 15.9225 5.69986 15.7275 5.81986 15.5175C6.05986 15.135 6.17986 14.7 6.17986 14.2575C6.17986 12.915 5.08486 11.82 3.74236 11.82C3.04486 11.82 2.37736 12.12 1.91236 12.6525C1.75486 12.825 1.50736 12.8925 1.28986 12.81C1.07236 12.7275 0.922363 12.5175 0.922363 12.285V9C0.922363 6.69 2.34736 5.01751 4.55986 4.74001C4.76236 4.71001 4.99486 4.6875 5.23486 4.6875H12.7349C12.9149 4.6875 13.1474 4.695 13.3874 4.7325C15.5999 4.9875 17.0474 6.6675 17.0474 9V12.75C17.0624 15.33 15.3299 17.0625 12.7499 17.0625ZM6.88486 15.9375H12.7499C14.6849 15.9375 15.9374 14.685 15.9374 12.75V9C15.9374 7.245 14.9099 6.03748 13.2449 5.84248C13.0649 5.81248 12.9074 5.8125 12.7499 5.8125H5.24986C5.06986 5.8125 4.89736 5.82749 4.72486 5.84999C3.07486 6.05999 2.06236 7.26 2.06236 9V11.115C2.57236 10.8375 3.15736 10.6875 3.74986 10.6875C5.71486 10.6875 7.31236 12.285 7.31236 14.25C7.31236 14.8425 7.16236 15.4275 6.88486 15.9375Z" fill="#06D9C8"/><path d="M16.5 12.9375H14.25C13.11 12.9375 12.1875 12.015 12.1875 10.875C12.1875 9.735 13.11 8.8125 14.25 8.8125H16.5C16.8075 8.8125 17.0625 9.0675 17.0625 9.375C17.0625 9.6825 16.8075 9.9375 16.5 9.9375H14.25C13.7325 9.9375 13.3125 10.3575 13.3125 10.875C13.3125 11.3925 13.7325 11.8125 14.25 11.8125H16.5C16.8075 11.8125 17.0625 12.0675 17.0625 12.375C17.0625 12.6825 16.8075 12.9375 16.5 12.9375Z" fill="#06D9C8"/></g><defs><clipPath id="clip0_147_1103"><rect width="18" height="18" fill="white"/></clipPath></defs></svg>
              span شحن المحفظة
          article.wallet-history 
            h4.history-heading احدث العمليات علي محفظتك, 
              a(href="#") محمد
            section.history-item.delete
              .box
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.3324 9.16683C18.3248 6.57158 18.2428 5.19572 17.3569 4.30981C16.3805 3.3335 14.8092 3.3335 11.6665 3.3335H8.33317C5.19047 3.3335 3.61913 3.3335 2.64281 4.30981C1.6665 5.28612 1.6665 6.85747 1.6665 10.0002C1.6665 13.1429 1.6665 14.7142 2.64281 15.6905C3.61913 16.6668 5.19047 16.6668 8.33317 16.6668H9.58317" stroke="#06D9C8" stroke-linecap="round"/><path d="M12.9167 11.6665V16.6665M12.9167 16.6665L14.5833 14.9998M12.9167 16.6665L11.25 14.9998M16.6667 16.6665V11.6665M16.6667 11.6665L18.3333 13.3332M16.6667 11.6665L15 13.3332" stroke="#06D9C8" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.33333 13.3335H5" stroke="#06D9C8" stroke-linecap="round"/><path d="M1.6665 8.3335L18.3332 8.3335" stroke="#06D9C8" stroke-linecap="round"/></svg>
                p.text تم خصم #[span.number 20-] جنية ( الفصل الاول - الدرس الاول - اساسيات النحو العربي )
              span.number  20-
            section.history-item.add
              .box
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.3324 9.16683C18.3248 6.57158 18.2428 5.19572 17.3569 4.30981C16.3805 3.3335 14.8092 3.3335 11.6665 3.3335H8.33317C5.19047 3.3335 3.61913 3.3335 2.64281 4.30981C1.6665 5.28612 1.6665 6.85747 1.6665 10.0002C1.6665 13.1429 1.6665 14.7142 2.64281 15.6905C3.61913 16.6668 5.19047 16.6668 8.33317 16.6668H9.58317" stroke="#06D9C8" stroke-linecap="round"/><path d="M12.9167 11.6665V16.6665M12.9167 16.6665L14.5833 14.9998M12.9167 16.6665L11.25 14.9998M16.6667 16.6665V11.6665M16.6667 11.6665L18.3333 13.3332M16.6667 11.6665L15 13.3332" stroke="#06D9C8" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.33333 13.3335H5" stroke="#06D9C8" stroke-linecap="round"/><path d="M1.6665 8.3335L18.3332 8.3335" stroke="#06D9C8" stroke-linecap="round"/></svg>
                p.text تم شحن محفظتك بقيمة #[span.number 500+] جنية
              span.number  500+
        // End wallet summary section
  // End home layout  section
  // Modal => operation success
  section.main-popup#success_popup.modal.fade(tabindex="-1" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        section.modal-header
          button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
            i.fa-solid.fa-xmark
        section.modal-body
          section.student-popup-heading 
            .icon #[img(src=src=`${siteDomin}/assets/images/payment-success.webp` alt="success")]
            .heading
              h2.mb-2 تم الدفع بنجاح
              p.description يمكنك تصفح الدروس من قائمة دروسي
            a.button(href=`${siteDomin}/student/my-lessons.html`) دروسي
  // Modal => operation Error
  section.main-popup#error_popup.modal.fade(tabindex="-1" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        section.modal-header
          button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
            i.fa-solid.fa-xmark
        section.modal-body
          section.student-popup-heading 
            .icon #[img(src=src=`${siteDomin}/assets/images/payment-error.webp` alt="erorr")]
            .heading
              h2.mb-2 عفوا لا يوجد رصيد كافي بمحفظتك
              p.description رجاء شحن المحفظة والمحاولة مرة اخري
            a.button(href="#") شحن المحفظة
  // Modal => operation success
  section.main-popup.payment-popup#payment_popup.modal.fade(tabindex="-1" aria-hidden="true")
    .modal-dialog.modal-dialog-centered 
      .modal-content
        section.modal-header
          button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
            i.fa-solid.fa-xmark
        section.modal-body
          h2.second-heading.border-0.pb-0 الشحن والدفع
          article.payment-section
            section.payment-info
              .student-heading.text-center
                h3.heading يمكنك تحويل قيمة الفاتورة الي رقمنا بفودافون كاش
              .payment-data 
                h4.heading رقم المحفظة الالكترونية
                p.data 01057849307
              .payment-data 
                h4.heading المبلغ المراد تحويلة
                p.data 25 جنيها مصريا فقط
              .payment-data 
                h4.heading رقم الهاتف المحول منة
                form.register-form.payment-form.needs-validation(action="", novalidate) 
                  section.input-field
                    input.form-control#user_phone(type="number", minlength ="11", maxlength="13", name="user_phone", required, placeholder="رقم الهاتف")
                    span.invalid-feedback الرجاء كتابة رقم هاتف صالح.
                  button.submit.w-100.mt-3(type="submit") ارسال الطلب
            section.payment-methods
              .student-heading.text-center
                h3.heading اختر طريقة الدفع
              // label.methods-item(for="method_cash") 
                input#method_cash.form-check-input(type="radio", name="payment_method", value="cash")
                span كاش
              label.methods-item.active(for="method_vf_cash") 
                input#method_vf_cash.form-check-input(type="radio", name="payment_method", value="vf_cash", checked)
                span عن طريق المحفظة
              section.methode-info
                p.description سيتم خصم مبلغ #[span.number 35] جنية من محفظتك
                hr 
                form.register-form.payment-form.needs-validation(action="#", novalidate) 
                  label.method-label(for="discount_code") كود الخصم
                  .box
                    .input-field.my-0
                      input.code-input.form-control#discount_code(type="text", minlength ="3", maxlength="35", name="discount_code", required, placeholder="هل لديك كود خصم")
                      span.invalid-feedback يرجى كتابة كود خصم صالح
                      span.valid-feedback تم تفعيل الخصم بنجاح
                    button.submit.code(type="submit") تفعيل
                hr
                .box-between
                  h4.method-data الاجمالي:
                  p.method-data 25 جنية
              

  