extends layout
include ../components/mixins

append variable
  - 
    let page            = "teachers"
    let pageTitle       = "الطالب - المعلمين"


//- content This page
block studentContent
  // Start teachers heading section
  section.teachers-heading
    .student-heading.text-center
      h1.heading المعلمين
  // End teachers heading section
  // Start student teachers section
  section.student-teachers-layout
    article.teachers-filter
      button.filter-button(type="button" data-bs-toggle="collapse" href="#techers_search_filter", aria-expanded="true")
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.12783 1.875C4.14084 1.875 4.1539 1.875 4.167 1.875L15.8728 1.875C16.4286 1.87498 16.9037 1.87495 17.2835 1.92285C17.6862 1.97365 18.0755 2.08775 18.3952 2.3877C18.7205 2.69295 18.8498 3.0738 18.9066 3.47004C18.9587 3.83404 18.9587 4.28664 18.9587 4.80299L18.9587 5.4501C18.9587 5.85719 18.9587 6.20912 18.9283 6.50259C18.8956 6.81839 18.8241 7.11466 18.6524 7.39911C18.4821 7.68142 18.2526 7.88633 17.9882 8.07003C17.7391 8.24308 17.4208 8.42225 17.0464 8.63296L14.5944 10.0133C14.0362 10.3275 13.8419 10.4406 13.7121 10.5533C13.4141 10.812 13.2435 11.099 13.1633 11.4587C13.129 11.6124 13.1253 11.806 13.1253 12.3941L13.1253 14.6708C13.1254 15.4219 13.1254 16.0595 13.0481 16.5496C12.9659 17.0709 12.7752 17.5708 12.2751 17.8835C11.7865 18.1892 11.2482 18.1611 10.7252 18.0369C10.2214 17.9172 9.60055 17.6745 8.85562 17.3833L8.78323 17.355C8.43429 17.2186 8.12875 17.0991 7.88686 16.9743C7.62691 16.84 7.38549 16.673 7.20079 16.4131C7.014 16.1502 6.93912 15.8684 6.90573 15.5803C6.87528 15.3175 6.8753 15.0022 6.87533 14.6505L6.87533 12.3941C6.87533 11.806 6.87162 11.6124 6.83734 11.4587C6.75716 11.099 6.58651 10.812 6.28852 10.5533C6.15877 10.4406 5.96443 10.3275 5.40627 10.0133L2.95425 8.63296C2.5799 8.42225 2.2616 8.24308 2.01248 8.07003C1.74803 7.88633 1.51858 7.68142 1.34822 7.39911C1.17656 7.11466 1.10508 6.81839 1.07237 6.50259C1.04196 6.20912 1.04198 5.85719 1.042 5.4501L1.042 4.84555C1.042 4.83131 1.042 4.81712 1.04199 4.80297C1.04196 4.28663 1.04192 3.83403 1.09408 3.47004C1.15086 3.0738 1.28012 2.69295 1.60548 2.3877C1.92518 2.08775 2.31445 1.97365 2.71719 1.92285C3.09693 1.87495 3.57205 1.87498 4.12783 1.875ZM2.87362 3.16303C2.59558 3.1981 2.50716 3.25576 2.46075 3.2993C2.41998 3.33755 2.36619 3.40487 2.33144 3.64736C2.2935 3.91212 2.292 4.2739 2.292 4.84555V5.4204C2.292 5.86558 2.29277 6.15231 2.31571 6.37379C2.33708 6.58005 2.37376 6.67923 2.41844 6.75326C2.46441 6.82943 2.54075 6.915 2.72561 7.04341C2.92037 7.1787 3.18646 7.32923 3.59194 7.55749L6.01946 8.92402C6.04219 8.93682 6.06458 8.94941 6.08663 8.96182C6.55222 9.22376 6.86931 9.40215 7.10799 9.60936C7.60079 10.0372 7.91697 10.5568 8.05738 11.1866C8.12563 11.4927 8.12551 11.8359 8.12535 12.3204C8.12534 12.3446 8.12533 12.3692 8.12533 12.3941V14.6187C8.12533 15.0121 8.1263 15.2542 8.14742 15.4364C8.16651 15.6011 8.19659 15.6565 8.21975 15.6891C8.24498 15.7246 8.29496 15.7782 8.46035 15.8636C8.63736 15.955 8.88123 16.0512 9.26635 16.2017C10.0672 16.5148 10.6059 16.7238 11.014 16.8207C11.4128 16.9154 11.5443 16.8663 11.6123 16.8238C11.6689 16.7884 11.7564 16.7164 11.8134 16.355C11.8735 15.9738 11.8753 15.4362 11.8753 14.6187V12.3941C11.8753 12.3692 11.8753 12.3446 11.8753 12.3204C11.8751 11.8359 11.875 11.4927 11.9433 11.1866C12.0837 10.5568 12.3999 10.0372 12.8927 9.60936C13.1313 9.40215 13.4484 9.22376 13.914 8.96184C13.9361 8.94942 13.9585 8.93682 13.9812 8.92402L16.4087 7.55749C16.8142 7.32923 17.0803 7.1787 17.2751 7.04341C17.4599 6.915 17.5362 6.82943 17.5822 6.75326C17.6269 6.67923 17.6636 6.58005 17.6849 6.37379C17.7079 6.15231 17.7087 5.86558 17.7087 5.4204V4.84555C17.7087 4.2739 17.7072 3.91212 17.6692 3.64736C17.6345 3.40487 17.5807 3.33755 17.5399 3.2993C17.4935 3.25576 17.4051 3.1981 17.127 3.16303C16.8349 3.12617 16.4395 3.125 15.8337 3.125H4.167C3.56114 3.125 3.16578 3.12617 2.87362 3.16303Z" fill="#1C274C"/></svg>
        span فلترة المعلمين
      form#techers_search_filter.collapse.show.register-form(action="")
        section.custom-select.dropdown
          label المرحلة الدراسية
          input#educational_level(type="hidden", name="educational_level")
          button.input-button(type="button" data-bs-toggle="dropdown" aria-expanded="false")
            span اختر المرحلة الدراسية 
            i.fa-solid.fa-chevron-down
          ul.dropdown-menu
            - for (let i = 1; i <= 6; i++)
                a.dropdown-item(data-select-value="secondary-school-2" href="#") الصف الثاني الثانوي ( علمي - علوم )
        section.custom-select.dropdown
          label التخصص
          input#user_qualification(type="hidden", name="user_qualification")
          button.input-button(type="button" data-bs-toggle="dropdown" aria-expanded="false")
            span اختر التخصص 
            i.fa-solid.fa-chevron-down
          ul.dropdown-menu
            - for (let i = 1; i <= 6; i++)
                a.dropdown-item(data-select-value="secondary-school-2" href="#") بكالوريوس تربية نوعية
        section.custom-select.dropdown
          label المادة الدراسية
          input#subject_teach(type="hidden", name="subject_teach")
          button.input-button(type="button" data-bs-toggle="dropdown" aria-expanded="false")
            span اختر المادة الدراسية 
            i.fa-solid.fa-chevron-down
          ul.dropdown-menu
            - for (let i = 1; i <= 6; i++)
                a.dropdown-item(data-select-value="secondary-school-2" href="#") رياضيات
        section.custom-select.dropdown
          label التقييم
          input#evaluation_teacher(type="hidden", name="evaluation_teacher")
          button.input-button(type="button" data-bs-toggle="dropdown" aria-expanded="false")
            span اختر التقييم 
            i.fa-solid.fa-chevron-down
          ul.dropdown-menu
            - for (let i = 1; i <= 6; i++)
                a.dropdown-item(data-select-value="secondary-school-2" href="#") خمس نجوم
        button.submit.w-100.mt-3(type="submit") تطبيق
    article.materials-section
      - for (let i = 1; i <= 5; i++)
        a.teacher-section.small(href=`${siteDomin}/student/teacher-material.html`)
          .image(data-bs-toggle="modal" data-bs-target="#teacher_popup")
            img(src=`${siteDomin}/assets/images/teacher-1.webp`, alt="اسماء سعيد علي")
          .content(href=`${siteDomin}/teacher-profile.html`)
            p.number-lessons 
              span.number 8
              span دروس
            h3.name اسماء سعيد علي
            h5.subject فيزياء
            p.rate
              i.fa-regular.fa-star
              span 43 تقييم ايجابي
        a.teacher-section.small(href=`${siteDomin}/student/teacher-material.html`)
          .image(data-bs-toggle="modal" data-bs-target="#teacher_popup") 
            img(src=`${siteDomin}/assets/images/teacher-2.webp`, alt="محمد ياسر صلاح")
          .content(href=`${siteDomin}/teacher-profile.html`)
            p.number-lessons 
              span.number 12
              span دروس
            h3.name محمد ياسر صلاح
            h5.subject لغة انجليزية
            p.rate
              i.fa-regular.fa-star
              span 43 تقييم ايجابي
        a.teacher-section.small(href=`${siteDomin}/student/teacher-material.html`)
          .image(data-bs-toggle="modal" data-bs-target="#teacher_popup") 
            img(src=`${siteDomin}/assets/images/teacher-3.webp`, alt="دينا اشرف بدوي")
          .content(href=`${siteDomin}/teacher-profile.html`)
            p.number-lessons 
              span.number 9
              span دروس
            h3.name دينا اشرف بدوي
            h5.subject لغة عربية
            p.rate
              i.fa-regular.fa-star
              span 43 تقييم ايجابي
        a.teacher-section.small(href=`${siteDomin}/student/teacher-material.html`)
          .image(data-bs-toggle="modal" data-bs-target="#teacher_popup") 
            img(src=`${siteDomin}/assets/images/teacher-4.webp`, alt="شيماء ابراهيم عبدالله")
          .content(href=`${siteDomin}/teacher-profile.html`)
            p.number-lessons 
              span.number 15
              span دروس
            h3.name شيماء ابراهيم عبدالله
            h5.subject رياضيات
            p.rate
              i.fa-regular.fa-star
              span 43 تقييم ايجابي
        a.teacher-section.small(href=`${siteDomin}/student/teacher-material.html`)
          .image(data-bs-toggle="modal" data-bs-target="#teacher_popup") 
            img(src=`${siteDomin}/assets/images/teacher-5.webp`, alt="سمية محمد علي")
          .content(href=`${siteDomin}/teacher-profile.html`)
            p.number-lessons 
              span.number 33
              span دروس
            h3.name اسماء سعيد علي
            h5.subject علوم
            p.rate
              i.fa-regular.fa-star
              span 43 تقييم ايجابي
  // End student teachers section           