extends layout
include ../components/mixins

append variable
  - 
    let page            = "teacher"
    let pageTitle       = "المعلم - لوحة التحكم"


//- content This page
block teacherContent
  // Start teacher Brief section
  article.teacher-dashboard-brief
    section.dashboard-brief
      .icon 
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20 21.25C14.7167 21.25 10.4167 16.95 10.4167 11.6667C10.4167 6.38337 14.7167 2.08337 20 2.08337C25.2833 2.08337 29.5833 6.38337 29.5833 11.6667C29.5833 16.95 25.2833 21.25 20 21.25ZM20 4.58337C16.1 4.58337 12.9167 7.76671 12.9167 11.6667C12.9167 15.5667 16.1 18.75 20 18.75C23.9 18.75 27.0833 15.5667 27.0833 11.6667C27.0833 7.76671 23.9 4.58337 20 4.58337Z" fill="#06D9C8"/><path d="M34.3169 37.9167C33.6336 37.9167 33.0669 37.35 33.0669 36.6667C33.0669 30.9167 27.2003 26.25 20.0003 26.25C12.8003 26.25 6.93359 30.9167 6.93359 36.6667C6.93359 37.35 6.36693 37.9167 5.68359 37.9167C5.00026 37.9167 4.43359 37.35 4.43359 36.6667C4.43359 29.55 11.4169 23.75 20.0003 23.75C28.5836 23.75 35.5669 29.55 35.5669 36.6667C35.5669 37.35 35.0002 37.9167 34.3169 37.9167Z" fill="#06D9C8"/></svg>
      p.number #[span.cunter 231]
      h3.heading اجمالي عدد الطلاب المسجلين لديك
    section.dashboard-brief
      .icon 
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.1167 35.4666C11.8 35.4666 10.55 35.1499 9.45001 34.5166C6.85001 33.0166 5.41667 29.9666 5.41667 25.9499V14.0666C5.41667 10.0333 6.85001 6.99994 9.45001 5.49994C12.05 3.99994 15.4 4.28327 18.9 6.29994L29.1833 12.2333C32.6667 14.2499 34.6 17.0166 34.6 20.0166C34.6 23.0166 32.6833 25.7833 29.1833 27.7999L18.9 33.7333C16.8833 34.8833 14.9167 35.4666 13.1167 35.4666ZM13.1167 7.03327C12.2167 7.03327 11.4167 7.23327 10.7 7.64994C8.90001 8.68327 7.91667 10.9666 7.91667 14.0666V25.9333C7.91667 29.0333 8.90001 31.2999 10.7 32.3499C12.5 33.3999 14.9667 33.0999 17.65 31.5499L27.9333 25.6166C30.6167 24.0666 32.1 22.0833 32.1 19.9999C32.1 17.9166 30.6167 15.9333 27.9333 14.3833L17.65 8.44994C16.0167 7.51661 14.4833 7.03327 13.1167 7.03327Z" fill="#3CC45A"/></svg>
      p.number #[span.cunter 24]
      h3.heading عدد الحصص المسجلة
    section.dashboard-brief
      .icon 
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29.9997 13.1833C29.9497 13.1833 29.9163 13.1833 29.8663 13.1833H29.783C26.633 13.0833 24.283 10.65 24.283 7.64998C24.283 4.58331 26.783 2.09998 29.833 2.09998C32.883 2.09998 35.383 4.59998 35.383 7.64998C35.3664 10.6666 33.0163 13.1 30.0164 13.2C30.0164 13.1833 30.0164 13.1833 29.9997 13.1833ZM29.833 4.58332C28.1497 4.58332 26.783 5.94999 26.783 7.63332C26.783 9.28332 28.0664 10.6167 29.7164 10.6833C29.733 10.6667 29.8664 10.6667 30.0164 10.6833C31.633 10.6 32.883 9.26665 32.8997 7.63332C32.8997 5.94999 31.533 4.58332 29.833 4.58332Z" fill="#06D9C8"/><path d="M30.0167 25.4668C29.3667 25.4668 28.7167 25.4167 28.0667 25.3001C27.3834 25.1834 26.9334 24.5334 27.05 23.8501C27.1667 23.1667 27.8167 22.7167 28.5 22.8334C30.55 23.1834 32.7167 22.8001 34.1667 21.8334C34.95 21.3168 35.3667 20.6667 35.3667 20.0167C35.3667 19.3667 34.9334 18.7334 34.1667 18.2167C32.7167 17.2501 30.5167 16.8667 28.45 17.2334C27.7667 17.3667 27.1167 16.9001 27 16.2167C26.8834 15.5334 27.3334 14.8834 28.0167 14.7668C30.7334 14.2834 33.55 14.8001 35.55 16.1334C37.0167 17.1167 37.8667 18.5167 37.8667 20.0167C37.8667 21.5001 37.0334 22.9168 35.55 23.9168C34.0334 24.9168 32.0667 25.4668 30.0167 25.4668Z" fill="#06D9C8"/><path d="M9.94999 13.1834C9.93332 13.1834 9.91666 13.1834 9.91666 13.1834C6.91666 13.0834 4.56665 10.65 4.54999 7.65003C4.54999 4.58337 7.04999 2.08337 10.1 2.08337C13.15 2.08337 15.65 4.58338 15.65 7.63338C15.65 10.65 13.3 13.0834 10.3 13.1834L9.94999 11.9334L10.0667 13.1834C10.0333 13.1834 9.98332 13.1834 9.94999 13.1834ZM10.1167 10.6834C10.2167 10.6834 10.3 10.6834 10.4 10.7C11.8833 10.6334 13.1833 9.30003 13.1833 7.65003C13.1833 5.9667 11.8167 4.60003 10.1333 4.60003C8.44999 4.60003 7.08332 5.9667 7.08332 7.65003C7.08332 9.28337 8.34999 10.6 9.96665 10.7C9.98332 10.6834 10.05 10.6834 10.1167 10.6834Z" fill="#06D9C8"/><path d="M9.93331 25.4668C7.88331 25.4668 5.91665 24.9168 4.39998 23.9168C2.93331 22.9334 2.08331 21.5167 2.08331 20.0167C2.08331 18.5334 2.93331 17.1167 4.39998 16.1334C6.39998 14.8001 9.21665 14.2834 11.9333 14.7668C12.6166 14.8834 13.0666 15.5334 12.95 16.2167C12.8333 16.9001 12.1833 17.3667 11.5 17.2334C9.43332 16.8667 7.24998 17.2501 5.78332 18.2167C4.99998 18.7334 4.58331 19.3667 4.58331 20.0167C4.58331 20.6667 5.01665 21.3168 5.78332 21.8334C7.23332 22.8001 9.39998 23.1834 11.45 22.8334C12.1333 22.7167 12.7833 23.1834 12.9 23.8501C13.0166 24.5334 12.5666 25.1834 11.8833 25.3001C11.2333 25.4167 10.5833 25.4668 9.93331 25.4668Z" fill="#06D9C8"/><path d="M19.9997 25.6333C19.9497 25.6333 19.9164 25.6333 19.8664 25.6333H19.783C16.633 25.5333 14.283 23.0999 14.283 20.0999C14.283 17.0333 16.783 14.5499 19.833 14.5499C22.883 14.5499 25.383 17.0499 25.383 20.0999C25.3664 23.1166 23.0164 25.5499 20.0164 25.6499C20.0164 25.6333 20.0164 25.6333 19.9997 25.6333ZM19.833 17.0333C18.1497 17.0333 16.783 18.3999 16.783 20.0833C16.783 21.7333 18.0664 23.0666 19.7164 23.1333C19.733 23.1166 19.8664 23.1166 20.0164 23.1333C21.633 23.0499 22.883 21.7166 22.8997 20.0833C22.8997 18.4166 21.533 17.0333 19.833 17.0333Z" fill="#06D9C8"/><path d="M19.9997 37.9333C17.9997 37.9333 15.9997 37.4167 14.4497 36.3667C12.983 35.3833 12.133 33.9833 12.133 32.4833C12.133 31 12.9663 29.5667 14.4497 28.5833C17.5663 26.5167 22.4497 26.5167 25.5497 28.5833C27.0163 29.5667 27.8663 30.9667 27.8663 32.4667C27.8663 33.95 27.033 35.3833 25.5497 36.3667C23.9997 37.4 21.9997 37.9333 19.9997 37.9333ZM15.833 30.6833C15.0497 31.2 14.633 31.85 14.633 32.5C14.633 33.15 15.0663 33.7833 15.833 34.3C18.083 35.8167 21.8997 35.8167 24.1497 34.3C24.933 33.7833 25.3497 33.1333 25.3497 32.4833C25.3497 31.8333 24.9163 31.2 24.1497 30.6833C21.9163 29.1667 18.0997 29.1833 15.833 30.6833Z" fill="#06D9C8"/></svg>
      p.number #[span.cunter 4]
      h3.heading اجمالي عدد المجموعات الدراسية
  // End teacher Brief section
  // Start home layout  section
  section.dashboard-home-layout
    article.dashboard-home-content
      // Start teacher Teaching data section
      section.teacher-teaching-data
        .student-heading 
          h2.heading.text-center الصفوف الدراسية التي تقوم بتدرسيها
        .teaching-data-box 
          secrion.teaching-section 
            .icon 
              <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.50791 13.4584C8.83499 13.4584 8.15416 13.2842 7.62374 12.9438L2.85791 9.83256C1.97124 9.25464 1.44083 8.28089 1.44083 7.22006C1.44083 6.15922 1.97124 5.18547 2.85791 4.60756L7.63166 1.50422C8.69249 0.815475 10.3471 0.815475 11.4 1.51214L16.1421 4.62339C17.0208 5.20131 17.5512 6.17506 17.5512 7.22797C17.5512 8.28089 17.0208 9.25464 16.1421 9.83256L11.4 12.9438C10.8696 13.2921 10.1887 13.4584 9.50791 13.4584ZM9.50791 2.17714C9.05666 2.17714 8.60541 2.28006 8.28083 2.50172L3.51499 5.60506C2.96083 5.96922 2.63624 6.55506 2.63624 7.22006C2.63624 7.88506 2.95291 8.47089 3.51499 8.83506L8.28083 11.9463C8.93791 12.3738 10.0937 12.3738 10.7508 11.9463L15.4929 8.83506C16.0471 8.47089 16.3637 7.88506 16.3637 7.22006C16.3637 6.55506 16.0471 5.96922 15.4929 5.60506L10.7508 2.49381C10.4183 2.28797 9.96708 2.17714 9.50791 2.17714Z" fill="#06D9C8"/><path d="M9.50001 18.0104C9.15168 18.0104 8.79543 17.9629 8.51043 17.8679L5.98501 17.0287C4.78959 16.6329 3.84751 15.3266 3.85543 14.0679L3.86334 10.355C3.86334 10.0304 4.13251 9.76123 4.45709 9.76123C4.78168 9.76123 5.05084 10.0304 5.05084 10.355L5.04293 14.0679C5.04293 14.8121 5.66043 15.6671 6.36501 15.9046L8.89043 16.7437C9.20709 16.8466 9.79293 16.8466 10.1096 16.7437L12.635 15.9046C13.3396 15.6671 13.9571 14.8121 13.9571 14.0758V10.4025C13.9571 10.0779 14.2263 9.80873 14.5508 9.80873C14.8754 9.80873 15.1446 10.0779 15.1446 10.4025V14.0758C15.1446 15.3346 14.2104 16.6329 13.015 17.0366L10.4896 17.8758C10.2046 17.9629 9.84834 18.0104 9.50001 18.0104Z" fill="#06D9C8"/><path d="M16.9417 12.4688C16.6171 12.4688 16.3479 12.1996 16.3479 11.875V7.125C16.3479 6.80042 16.6171 6.53125 16.9417 6.53125C17.2662 6.53125 17.5354 6.80042 17.5354 7.125V11.875C17.5354 12.1996 17.2662 12.4688 16.9417 12.4688Z" fill="#06D9C8"/></svg>
            h4.heading الصف الاول الثانوي
          secrion.teaching-section 
            .icon 
              <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.50791 13.4584C8.83499 13.4584 8.15416 13.2842 7.62374 12.9438L2.85791 9.83256C1.97124 9.25464 1.44083 8.28089 1.44083 7.22006C1.44083 6.15922 1.97124 5.18547 2.85791 4.60756L7.63166 1.50422C8.69249 0.815475 10.3471 0.815475 11.4 1.51214L16.1421 4.62339C17.0208 5.20131 17.5512 6.17506 17.5512 7.22797C17.5512 8.28089 17.0208 9.25464 16.1421 9.83256L11.4 12.9438C10.8696 13.2921 10.1887 13.4584 9.50791 13.4584ZM9.50791 2.17714C9.05666 2.17714 8.60541 2.28006 8.28083 2.50172L3.51499 5.60506C2.96083 5.96922 2.63624 6.55506 2.63624 7.22006C2.63624 7.88506 2.95291 8.47089 3.51499 8.83506L8.28083 11.9463C8.93791 12.3738 10.0937 12.3738 10.7508 11.9463L15.4929 8.83506C16.0471 8.47089 16.3637 7.88506 16.3637 7.22006C16.3637 6.55506 16.0471 5.96922 15.4929 5.60506L10.7508 2.49381C10.4183 2.28797 9.96708 2.17714 9.50791 2.17714Z" fill="#06D9C8"/><path d="M9.50001 18.0104C9.15168 18.0104 8.79543 17.9629 8.51043 17.8679L5.98501 17.0287C4.78959 16.6329 3.84751 15.3266 3.85543 14.0679L3.86334 10.355C3.86334 10.0304 4.13251 9.76123 4.45709 9.76123C4.78168 9.76123 5.05084 10.0304 5.05084 10.355L5.04293 14.0679C5.04293 14.8121 5.66043 15.6671 6.36501 15.9046L8.89043 16.7437C9.20709 16.8466 9.79293 16.8466 10.1096 16.7437L12.635 15.9046C13.3396 15.6671 13.9571 14.8121 13.9571 14.0758V10.4025C13.9571 10.0779 14.2263 9.80873 14.5508 9.80873C14.8754 9.80873 15.1446 10.0779 15.1446 10.4025V14.0758C15.1446 15.3346 14.2104 16.6329 13.015 17.0366L10.4896 17.8758C10.2046 17.9629 9.84834 18.0104 9.50001 18.0104Z" fill="#06D9C8"/><path d="M16.9417 12.4688C16.6171 12.4688 16.3479 12.1996 16.3479 11.875V7.125C16.3479 6.80042 16.6171 6.53125 16.9417 6.53125C17.2662 6.53125 17.5354 6.80042 17.5354 7.125V11.875C17.5354 12.1996 17.2662 12.4688 16.9417 12.4688Z" fill="#06D9C8"/></svg>
            h4.heading الصف الاول الثانوي
          button.add-teaching-section(data-bs-target="#add_school_level", data-bs-toggle="modal")
            i.fa-solid.fa-plus
            span اضافة صف جديد
      // End teacher Teaching data section
      // Start teacher Teaching data section
      section.teacher-teaching-data.mb-4
        .student-heading 
          h2.heading.text-center المواد الدراسية التي تقوم بتدرسيها
        .teaching-data-box 
          secrion.teaching-section 
            .icon 
              <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.50791 13.4584C8.83499 13.4584 8.15416 13.2842 7.62374 12.9438L2.85791 9.83256C1.97124 9.25464 1.44083 8.28089 1.44083 7.22006C1.44083 6.15922 1.97124 5.18547 2.85791 4.60756L7.63166 1.50422C8.69249 0.815475 10.3471 0.815475 11.4 1.51214L16.1421 4.62339C17.0208 5.20131 17.5512 6.17506 17.5512 7.22797C17.5512 8.28089 17.0208 9.25464 16.1421 9.83256L11.4 12.9438C10.8696 13.2921 10.1887 13.4584 9.50791 13.4584ZM9.50791 2.17714C9.05666 2.17714 8.60541 2.28006 8.28083 2.50172L3.51499 5.60506C2.96083 5.96922 2.63624 6.55506 2.63624 7.22006C2.63624 7.88506 2.95291 8.47089 3.51499 8.83506L8.28083 11.9463C8.93791 12.3738 10.0937 12.3738 10.7508 11.9463L15.4929 8.83506C16.0471 8.47089 16.3637 7.88506 16.3637 7.22006C16.3637 6.55506 16.0471 5.96922 15.4929 5.60506L10.7508 2.49381C10.4183 2.28797 9.96708 2.17714 9.50791 2.17714Z" fill="#06D9C8"/><path d="M9.50001 18.0104C9.15168 18.0104 8.79543 17.9629 8.51043 17.8679L5.98501 17.0287C4.78959 16.6329 3.84751 15.3266 3.85543 14.0679L3.86334 10.355C3.86334 10.0304 4.13251 9.76123 4.45709 9.76123C4.78168 9.76123 5.05084 10.0304 5.05084 10.355L5.04293 14.0679C5.04293 14.8121 5.66043 15.6671 6.36501 15.9046L8.89043 16.7437C9.20709 16.8466 9.79293 16.8466 10.1096 16.7437L12.635 15.9046C13.3396 15.6671 13.9571 14.8121 13.9571 14.0758V10.4025C13.9571 10.0779 14.2263 9.80873 14.5508 9.80873C14.8754 9.80873 15.1446 10.0779 15.1446 10.4025V14.0758C15.1446 15.3346 14.2104 16.6329 13.015 17.0366L10.4896 17.8758C10.2046 17.9629 9.84834 18.0104 9.50001 18.0104Z" fill="#06D9C8"/><path d="M16.9417 12.4688C16.6171 12.4688 16.3479 12.1996 16.3479 11.875V7.125C16.3479 6.80042 16.6171 6.53125 16.9417 6.53125C17.2662 6.53125 17.5354 6.80042 17.5354 7.125V11.875C17.5354 12.1996 17.2662 12.4688 16.9417 12.4688Z" fill="#06D9C8"/></svg>
            h4.heading الرياضيات
          button.add-teaching-section(data-bs-target="#add_subjects", data-bs-toggle="modal")
            i.fa-solid.fa-plus
            span اضافة مادة جديدة 
      // End teacher Teaching data section
      // Start live feed section
      section.teacher-live 
        .student-heading 
          h2.heading بث مباشر قادم
          a.link(href=`${siteDomin}/teacher/live-feed.html`) 
            span.text عرض الكل 
            i.fa-solid.fa-arrow-left-long
        article.coming-live-box
          - for(let i = 1; i <= 2; i++)
            section.coming-live
              ul.coming-live-data 
                li.live-data
                  h4.label اسم المادة
                  p.name لغة عربية
                li.live-data
                  h4.label السنة الدراسية
                  p.name الصف الثالث الثانوي
                li.live-data
                  h4.label التاريخ
                  p.name.date الثلاثاء , 1-11-2023 , 1:20 مساءا
              ul.coming-live-action
                li
                  a.live-action(href="#")
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.4999 5.93258C13.4774 5.93258 13.4624 5.93258 13.4399 5.93258H13.4024C11.9849 5.88758 10.9274 4.79257 10.9274 3.44257C10.9274 2.06257 12.0524 0.945068 13.4249 0.945068C14.7974 0.945068 15.9224 2.07007 15.9224 3.44257C15.9149 4.80007 14.8574 5.89507 13.5074 5.94007C13.5074 5.93257 13.5074 5.93258 13.4999 5.93258ZM13.4249 2.06257C12.6674 2.06257 12.0524 2.67757 12.0524 3.43507C12.0524 4.17757 12.6299 4.77758 13.3724 4.80758C13.3799 4.80008 13.4399 4.80008 13.5074 4.80758C14.2349 4.77008 14.7974 4.17007 14.8049 3.43507C14.8049 2.67757 14.1899 2.06257 13.4249 2.06257Z" fill="#9CADC3"/><path d="M13.5075 11.46C13.215 11.46 12.9225 11.4375 12.63 11.385C12.3225 11.3325 12.12 11.04 12.1725 10.7325C12.225 10.425 12.5175 10.2225 12.825 10.275C13.7475 10.4325 14.7225 10.26 15.375 9.825C15.7275 9.5925 15.915 9.29999 15.915 9.00749C15.915 8.71499 15.72 8.42999 15.375 8.19749C14.7225 7.76249 13.7325 7.58999 12.8025 7.75499C12.495 7.81499 12.2025 7.60499 12.15 7.29749C12.0975 6.98999 12.3 6.69749 12.6075 6.64499C13.83 6.42749 15.0975 6.65998 15.9975 7.25998C16.6575 7.70248 17.04 8.33249 17.04 9.00749C17.04 9.67499 16.665 10.3125 15.9975 10.7625C15.315 11.2125 14.43 11.46 13.5075 11.46Z" fill="#9CADC3"/><path d="M4.47749 5.9325C4.46999 5.9325 4.46249 5.9325 4.46249 5.9325C3.11249 5.8875 2.05499 4.7925 2.04749 3.4425C2.04749 2.0625 3.17249 0.9375 4.54499 0.9375C5.91749 0.9375 7.04249 2.0625 7.04249 3.435C7.04249 4.7925 5.98499 5.8875 4.63499 5.9325L4.47749 5.37L4.52999 5.9325C4.51499 5.9325 4.49249 5.9325 4.47749 5.9325ZM4.55249 4.8075C4.59749 4.8075 4.63499 4.8075 4.67999 4.815C5.34749 4.785 5.93249 4.185 5.93249 3.4425C5.93249 2.685 5.31749 2.07 4.55999 2.07C3.80249 2.07 3.18749 2.685 3.18749 3.4425C3.18749 4.1775 3.75749 4.77 4.48499 4.815C4.49249 4.8075 4.52249 4.8075 4.55249 4.8075Z" fill="#9CADC3"/><path d="M4.47 11.46C3.5475 11.46 2.6625 11.2125 1.98 10.7625C1.32 10.32 0.9375 9.68249 0.9375 9.00749C0.9375 8.33999 1.32 7.70248 1.98 7.25998C2.88 6.65998 4.1475 6.42749 5.37 6.64499C5.6775 6.69749 5.88 6.98999 5.8275 7.29749C5.775 7.60499 5.4825 7.81499 5.175 7.75499C4.245 7.58999 3.2625 7.76249 2.6025 8.19749C2.25 8.42999 2.0625 8.71499 2.0625 9.00749C2.0625 9.29999 2.2575 9.5925 2.6025 9.825C3.255 10.26 4.23 10.4325 5.1525 10.275C5.46 10.2225 5.7525 10.4325 5.805 10.7325C5.8575 11.04 5.655 11.3325 5.3475 11.385C5.055 11.4375 4.7625 11.46 4.47 11.46Z" fill="#9CADC3"/><path d="M8.99987 11.5349C8.97737 11.5349 8.96237 11.5349 8.93987 11.5349H8.90237C7.48487 11.4899 6.42737 10.3949 6.42737 9.04486C6.42737 7.66486 7.55237 6.54736 8.92487 6.54736C10.2974 6.54736 11.4224 7.67236 11.4224 9.04486C11.4149 10.4024 10.3574 11.4974 9.00737 11.5424C9.00737 11.5349 9.00737 11.5349 8.99987 11.5349ZM8.92487 7.66487C8.16737 7.66487 7.55237 8.27987 7.55237 9.03737C7.55237 9.77987 8.12987 10.3799 8.87237 10.4099C8.87987 10.4024 8.93987 10.4024 9.00737 10.4099C9.73487 10.3724 10.2974 9.77237 10.3049 9.03737C10.3049 8.28737 9.68987 7.66487 8.92487 7.66487Z" fill="#9CADC3"/><path d="M8.99984 17.07C8.09984 17.07 7.19984 16.8375 6.50234 16.365C5.84234 15.9225 5.45984 15.2925 5.45984 14.6175C5.45984 13.95 5.83484 13.305 6.50234 12.8625C7.90484 11.9325 10.1023 11.9325 11.4973 12.8625C12.1573 13.305 12.5398 13.935 12.5398 14.61C12.5398 15.2775 12.1648 15.9225 11.4973 16.365C10.7998 16.83 9.89984 17.07 8.99984 17.07ZM7.12484 13.8075C6.77234 14.04 6.58484 14.3325 6.58484 14.625C6.58484 14.9175 6.77984 15.2025 7.12484 15.435C8.13734 16.1175 9.85484 16.1175 10.8673 15.435C11.2198 15.2025 11.4073 14.91 11.4073 14.6175C11.4073 14.325 11.2123 14.04 10.8673 13.8075C9.86234 13.125 8.14484 13.1325 7.12484 13.8075Z" fill="#9CADC3"/></svg>
                    span.action-tooltip الطلاب
                li
                  a.live-action(href="#")
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.34 15.645H12.8925C15.555 15.645 16.5 13.7775 16.5 12.0375V5.96248C16.5 3.36748 15.4875 2.35498 12.8925 2.35498H8.34C5.745 2.35498 4.7325 3.36748 4.7325 5.96248V12.0375C4.7325 14.6325 5.745 15.645 8.34 15.645ZM12.8925 3.49498C14.85 3.49498 15.36 4.00498 15.36 5.96248V12.0375C15.36 12.96 15.0375 14.505 12.8925 14.505H8.34C6.3825 14.505 5.8725 13.995 5.8725 12.0375V5.96248C5.8725 4.00498 6.3825 3.49498 8.34 3.49498H12.8925Z" fill="#9CADC3"/><path d="M2.41505 13.5826C2.73755 13.5826 3.15005 13.4776 3.62255 13.1476L5.62505 11.7451C5.77505 11.6401 5.86505 11.4676 5.86505 11.2801V6.72012C5.86505 6.53262 5.77505 6.36012 5.62505 6.25512L3.62255 4.85262C2.73005 4.23012 2.07755 4.41012 1.77005 4.56762C1.46255 4.73262 0.937551 5.16012 0.937551 6.24762V11.7451C0.937551 12.8326 1.46255 13.2676 1.77005 13.4251C1.91255 13.5076 2.13755 13.5826 2.41505 13.5826ZM4.73255 10.9801L2.97005 12.2101C2.63255 12.4426 2.39255 12.4651 2.29505 12.4126C2.19005 12.3601 2.07755 12.1501 2.07755 11.7451V6.25512C2.07755 5.84262 2.19755 5.64012 2.29505 5.58762C2.39255 5.53512 2.63255 5.55762 2.97005 5.79012L4.73255 7.02012V10.9801Z" fill="#9CADC3"/><path d="M9.375 8.8125C10.305 8.8125 11.0625 8.055 11.0625 7.125C11.0625 6.195 10.305 5.4375 9.375 5.4375C8.445 5.4375 7.6875 6.195 7.6875 7.125C7.6875 8.055 8.445 8.8125 9.375 8.8125ZM9.375 6.5625C9.6825 6.5625 9.9375 6.8175 9.9375 7.125C9.9375 7.4325 9.6825 7.6875 9.375 7.6875C9.0675 7.6875 8.8125 7.4325 8.8125 7.125C8.8125 6.8175 9.0675 6.5625 9.375 6.5625Z" fill="#9CADC3"/></svg>
                    span.action-tooltip البث
                li
                  a.live-action.delete(href="#")
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.75 5.0476C15.735 5.0476 15.7125 5.0476 15.69 5.0476C11.7225 4.6501 7.7625 4.5001 3.84 4.8976L2.31 5.0476C1.995 5.0776 1.7175 4.8526 1.6875 4.5376C1.6575 4.2226 1.8825 3.9526 2.19 3.9226L3.72 3.7726C7.71 3.3676 11.7525 3.5251 15.8025 3.9226C16.11 3.9526 16.335 4.2301 16.305 4.5376C16.2825 4.8301 16.035 5.0476 15.75 5.0476Z" fill="#9CADC3"/><path d="M6.37501 4.29C6.34501 4.29 6.31501 4.29 6.27751 4.2825C5.97751 4.23 5.76751 3.9375 5.82001 3.6375L5.98501 2.655C6.10501 1.935 6.27001 0.9375 8.01751 0.9375H9.98251C11.7375 0.9375 11.9025 1.9725 12.015 2.6625L12.18 3.6375C12.2325 3.945 12.0225 4.2375 11.7225 4.2825C11.415 4.335 11.1225 4.125 11.0775 3.825L10.9125 2.85C10.8075 2.1975 10.785 2.07 9.99001 2.07H8.02501C7.23001 2.07 7.21501 2.175 7.10251 2.8425L6.93001 3.8175C6.88501 4.095 6.64501 4.29 6.37501 4.29Z" fill="#9CADC3"/><path d="M11.4075 17.0624H6.59248C3.97498 17.0624 3.86999 15.6149 3.78749 14.4449L3.29999 6.89243C3.27749 6.58493 3.51748 6.31493 3.82498 6.29243C4.13998 6.27743 4.40249 6.50993 4.42499 6.81743L4.91249 14.3699C4.99499 15.5099 5.02498 15.9374 6.59248 15.9374H11.4075C12.9825 15.9374 13.0125 15.5099 13.0875 14.3699L13.575 6.81743C13.5975 6.50993 13.8675 6.27743 14.175 6.29243C14.4825 6.31493 14.7225 6.57743 14.7 6.89243L14.2125 14.4449C14.13 15.6149 14.025 17.0624 11.4075 17.0624Z" fill="#9CADC3"/><path d="M10.245 12.9375H7.7475C7.44 12.9375 7.185 12.6825 7.185 12.375C7.185 12.0675 7.44 11.8125 7.7475 11.8125H10.245C10.5525 11.8125 10.8075 12.0675 10.8075 12.375C10.8075 12.6825 10.5525 12.9375 10.245 12.9375Z" fill="#9CADC3"/><path d="M10.875 9.9375H7.125C6.8175 9.9375 6.5625 9.6825 6.5625 9.375C6.5625 9.0675 6.8175 8.8125 7.125 8.8125H10.875C11.1825 8.8125 11.4375 9.0675 11.4375 9.375C11.4375 9.6825 11.1825 9.9375 10.875 9.9375Z" fill="#9CADC3"/></svg>
      // End live feed section
    aside.dashboard-home-summary
      // Start wallet summary section
      section.wallet-summary
        .box-between.mb-4
          a.wallet-action(href=`${siteDomin}/teacher/invoices.html`)
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.3324 9.16683C18.3248 6.57158 18.2428 5.19572 17.3569 4.30981C16.3805 3.3335 14.8092 3.3335 11.6665 3.3335H8.33317C5.19047 3.3335 3.61913 3.3335 2.64281 4.30981C1.6665 5.28612 1.6665 6.85747 1.6665 10.0002C1.6665 13.1429 1.6665 14.7142 2.64281 15.6905C3.61913 16.6668 5.19047 16.6668 8.33317 16.6668H9.58317" stroke="#06D9C8" stroke-linecap="round"/><path d="M12.9167 11.6665V16.6665M12.9167 16.6665L14.5833 14.9998M12.9167 16.6665L11.25 14.9998M16.6667 16.6665V11.6665M16.6667 11.6665L18.3333 13.3332M16.6667 11.6665L15 13.3332" stroke="#06D9C8" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.33333 13.3335H5" stroke="#06D9C8" stroke-linecap="round"/><path d="M1.6665 8.3335L18.3332 8.3335" stroke="#06D9C8" stroke-linecap="round"/></svg>
            span السجل
          a.wallet-action(href=`${siteDomin}/teacher/invoices.html`)
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.1835 9.7915H13.3335C12.9918 9.7915 12.7085 9.50817 12.7085 9.1665V3.3415C12.7085 2.72484 12.9502 2.14984 13.3835 1.71651C13.8168 1.28317 14.3918 1.0415 15.0085 1.0415H15.0168C16.0585 1.04984 17.0418 1.45817 17.7918 2.19984C18.5418 2.95817 18.9502 3.95817 18.9502 4.99984V7.0165C18.9585 8.67484 17.8418 9.7915 16.1835 9.7915ZM13.9585 8.5415H16.1835C17.1502 8.5415 17.7085 7.98317 17.7085 7.0165V4.99984C17.7085 4.28317 17.4252 3.59984 16.9168 3.08317C16.4085 2.58317 15.7252 2.29984 15.0168 2.2915C15.0168 2.2915 15.0168 2.2915 15.0085 2.2915C14.7335 2.2915 14.4668 2.39984 14.2668 2.59984C14.0668 2.79984 13.9585 3.05817 13.9585 3.3415V8.5415Z" fill="#06D9C8"/><path d="M7.49984 19.4415C7.10817 19.4415 6.7415 19.2915 6.4665 19.0082L5.08317 17.6165C5.00817 17.5415 4.8915 17.5332 4.80817 17.5998L3.37484 18.6665C2.93317 18.9998 2.34984 19.0582 1.84984 18.8082C1.34984 18.5582 1.0415 18.0582 1.0415 17.4998V4.99984C1.0415 2.48317 2.48317 1.0415 4.99984 1.0415H14.9998C15.3415 1.0415 15.6248 1.32484 15.6248 1.6665C15.6248 2.00817 15.3415 2.2915 14.9998 2.2915C14.4248 2.2915 13.9582 2.75817 13.9582 3.33317V17.4998C13.9582 18.0582 13.6498 18.5582 13.1498 18.8082C12.6498 19.0582 12.0665 19.0082 11.6248 18.6748L10.1998 17.6082C10.1165 17.5415 9.99984 17.5582 9.93317 17.6248L8.53317 19.0248C8.25817 19.2915 7.8915 19.4415 7.49984 19.4415ZM4.92484 16.3082C5.30817 16.3082 5.68317 16.4498 5.9665 16.7415L7.34984 18.1332C7.39984 18.1832 7.4665 18.1915 7.49984 18.1915C7.53317 18.1915 7.59984 18.1832 7.64984 18.1332L9.04984 16.7332C9.5665 16.2165 10.3832 16.1665 10.9582 16.6082L12.3748 17.6665C12.4665 17.7332 12.5498 17.7082 12.5915 17.6832C12.6332 17.6582 12.7082 17.6082 12.7082 17.4998V3.33317C12.7082 2.95817 12.7998 2.59984 12.9582 2.2915H4.99984C3.14984 2.2915 2.2915 3.14984 2.2915 4.99984V17.4998C2.2915 17.6165 2.3665 17.6665 2.40817 17.6915C2.45817 17.7165 2.5415 17.7332 2.62484 17.6665L4.04984 16.5998C4.30817 16.4082 4.6165 16.3082 4.92484 16.3082Z" fill="#06D9C8"/><path d="M10 11.4668H7.5C7.15833 11.4668 6.875 11.1835 6.875 10.8418C6.875 10.5001 7.15833 10.2168 7.5 10.2168H10C10.3417 10.2168 10.625 10.5001 10.625 10.8418C10.625 11.1835 10.3417 11.4668 10 11.4668Z" fill="#06D9C8"/><path d="M10 8.1333H7.5C7.15833 8.1333 6.875 7.84997 6.875 7.5083C6.875 7.16663 7.15833 6.8833 7.5 6.8833H10C10.3417 6.8833 10.625 7.16663 10.625 7.5083C10.625 7.84997 10.3417 8.1333 10 8.1333Z" fill="#06D9C8"/><path d="M4.97493 8.34147C4.5166 8.34147 4.1416 7.96647 4.1416 7.50814C4.1416 7.0498 4.5166 6.6748 4.97493 6.6748C5.43327 6.6748 5.80827 7.0498 5.80827 7.50814C5.80827 7.96647 5.43327 8.34147 4.97493 8.34147Z" fill="#06D9C8"/><path d="M4.97493 11.675C4.5166 11.675 4.1416 11.3 4.1416 10.8416C4.1416 10.3833 4.5166 10.0083 4.97493 10.0083C5.43327 10.0083 5.80827 10.3833 5.80827 10.8416C5.80827 11.3 5.43327 11.675 4.97493 11.675Z" fill="#06D9C8"/></svg>
            span الفواتير
        h3.heading  محفظتي           
        .wallet-box.justify-content-center
          p.wallet-price
            span.number 1,237
            span.currency جنية مصري
        article.wallet-history
          h4.history-heading احدث العمليات علي محفظتك, 
            a(href="#") محمد
          - for(let i = 1; i <= 2; i++)
            section.history-item.add
              .box
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.3324 9.16683C18.3248 6.57158 18.2428 5.19572 17.3569 4.30981C16.3805 3.3335 14.8092 3.3335 11.6665 3.3335H8.33317C5.19047 3.3335 3.61913 3.3335 2.64281 4.30981C1.6665 5.28612 1.6665 6.85747 1.6665 10.0002C1.6665 13.1429 1.6665 14.7142 2.64281 15.6905C3.61913 16.6668 5.19047 16.6668 8.33317 16.6668H9.58317" stroke="#06D9C8" stroke-linecap="round"/><path d="M12.9167 11.6665V16.6665M12.9167 16.6665L14.5833 14.9998M12.9167 16.6665L11.25 14.9998M16.6667 16.6665V11.6665M16.6667 11.6665L18.3333 13.3332M16.6667 11.6665L15 13.3332" stroke="#06D9C8" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.33333 13.3335H5" stroke="#06D9C8" stroke-linecap="round"/><path d="M1.6665 8.3335L18.3332 8.3335" stroke="#06D9C8" stroke-linecap="round"/></svg>
                p.text تم تحويل #[span.number 1000+] جنية الي حسابك البنكي
              span.number  1000+
          - for(let i = 1; i <= 4; i++)
            section.history-item.delete
              .box
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.3324 9.16683C18.3248 6.57158 18.2428 5.19572 17.3569 4.30981C16.3805 3.3335 14.8092 3.3335 11.6665 3.3335H8.33317C5.19047 3.3335 3.61913 3.3335 2.64281 4.30981C1.6665 5.28612 1.6665 6.85747 1.6665 10.0002C1.6665 13.1429 1.6665 14.7142 2.64281 15.6905C3.61913 16.6668 5.19047 16.6668 8.33317 16.6668H9.58317" stroke="#06D9C8" stroke-linecap="round"/><path d="M12.9167 11.6665V16.6665M12.9167 16.6665L14.5833 14.9998M12.9167 16.6665L11.25 14.9998M16.6667 16.6665V11.6665M16.6667 11.6665L18.3333 13.3332M16.6667 11.6665L15 13.3332" stroke="#06D9C8" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.33333 13.3335H5" stroke="#06D9C8" stroke-linecap="round"/><path d="M1.6665 8.3335L18.3332 8.3335" stroke="#06D9C8" stroke-linecap="round"/></svg>
                p.text فشل التحويل بقيمة #[span.number 500-] جنية الي حسابك البنكي
              span.number  500-
      // End wallet summary section
  // End home layout  section
  // Modal => add school level
  section.main-popup#add_school_level.modal.fade(tabindex="-1" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        section.modal-header
          button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
            i.fa-solid.fa-xmark
        section.modal-body
          section.student-heading.mb-4.mb-md-5
            h2.heading.text-center اختر المرحلة الدراسية 
          form.register-form.needs-validation.pt-2.pt-md-0(action="", novalidate)
            section.custom-select.dropdown
              label المرحلة الدراسية
              input#school_level(type="hidden", name="school_level")
              button.input-button(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                span اختر الصف الدراسي المراد التدريس له 
                i.fa-solid.fa-chevron-down
              ul.dropdown-menu
                - for (let i = 1; i <= 6; i++)
                    a.dropdown-item(data-select-value="secondary-school-2" href="#") الصف الثالث الثانوي, علمي علوم
              span.invalid-feedback الرجاء اختيار الصف الدراسي المراد التدريس له.
            // button.submit(type="submit") اضافة
            button.submit(type="button", data-bs-toggle="modal", data-bs-target="#school_level_success") اضافة
  // Modal => add school level success
  section.main-popup#school_level_success.modal.fade(tabindex="-1" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        section.modal-header
          button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
            i.fa-solid.fa-xmark
        section.modal-body
          section.student-popup-heading 
            .icon.large #[img(src=src=`${siteDomin}/assets/images/add-level-success.webp` alt="success")]
            .heading
              h2.mb-2 تم الاضافة بنجاح
              p.description يمكنك تصفح المراحل الدراسية التي تقوم بتدريسها من خلال قائمة المراحل الدراسية
            a.button(href=`${siteDomin}/teacher/school-level.html`) المراحل الدراسية
  // Modal => add subjects
  section.main-popup#add_subjects.modal.fade(tabindex="-1" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        section.modal-header
          button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
            i.fa-solid.fa-xmark
        section.modal-body
          section.student-heading.mb-4.mb-md-5
            h2.heading.text-center اختر المادة الدراسية
          form.register-form.needs-validation.pt-2.pt-md-0(action="", novalidate)
            section.custom-select.dropdown
              label المرحلة الدراسية
              input#school_level(type="hidden", name="school_level")
              button.input-button(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                span اختر الصف الدراسي المراد التدريس له 
                i.fa-solid.fa-chevron-down
              ul.dropdown-menu
                - for (let i = 1; i <= 6; i++)
                    a.dropdown-item(data-select-value="secondary-school-2" href="#") الصف الثالث الثانوي, علمي علوم
              span.invalid-feedback الرجاء اختيار الصف الدراسي المراد التدريس له.
            section.custom-select.dropdown
              label المادة الدراسية
              input#subject_teach(type="hidden", name="subject_teach")
              button.input-button(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                span اختر المادة الدراسية المراد تدريسها 
                i.fa-solid.fa-chevron-down
              ul.dropdown-menu
                - for (let i = 1; i <= 6; i++)
                    a.dropdown-item(data-select-value="secondary-school-2" href="#") رياضيات
              span.invalid-feedback الرجاء اختيار المادة الدراسية المراد تدريسها.
            // button.submit(type="submit") اضافة
            button.submit(type="button", data-bs-toggle="modal", data-bs-target="#add_subjects_success") اضافة
  // Modal => operation success
  section.main-popup#add_subjects_success.modal.fade(tabindex="-1" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        section.modal-header
          button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
            i.fa-solid.fa-xmark
        section.modal-body
          section.student-popup-heading 
            .icon.large #[img(src=src=`${siteDomin}/assets/images/add-level-success.webp` alt="success")]
            .heading
              h2.mb-2 تم الاضافة بنجاح
              p.description يمكنك تصفح المواد الدراسية التي تقوم بتدريسها من خلال قائمة المواد الدراسية
            a.button(href=`${siteDomin}/teacher/subjects.html`) المواد الدراسية
  
  // Modal => operation success
  section.main-popup#success_popup.modal.fade(tabindex="-1" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        section.modal-header
          button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
            i.fa-solid.fa-xmark
        section.modal-body
          section.student-popup-heading 
            .icon #[img(src=src=`${siteDomin}/assets/images/payment-success.webp` alt="success")]
            .heading
              h2.mb-2 تم الدفع بنجاح
              p.description يمكنك تصفح الدروس من قائمة دروسي
            a.button(href="#") دروسي
  // Modal => operation Error
  section.main-popup#error_popup.modal.fade(tabindex="-1" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        section.modal-header
          button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
            i.fa-solid.fa-xmark
        section.modal-body
          section.student-popup-heading 
            .icon #[img(src=src=`${siteDomin}/assets/images/payment-error.webp` alt="erorr")]
            .heading
              h2.mb-2 عفوا لا يوجد رصيد كافي بمحفظتك
              p.description رجاء شحن المحفظة والمحاولة مرة اخري
            a.button(href="#") شحن المحفظة