extends layout
include ../components/mixins

append variable
  - 
    let page            = "lesson-recording"
    let pageTitle       = "المعلم - تسجيل الدرس"

//- content This page
block teacherContent
  // Start teacher heading section
  section.teacher-heading.mb-3
    .heading-box.flex-grow-0.flex-shrink-0
      h2.heading.text-start مادة الرياضيات
      p.description.text-start الصف الاول الثانوي
    h1.heading.text-center #[span.red-color تسجيل] الدرس الثاني - العلاقات وتمثيلها بيانيا
  // End teacher heading section
  // Start recording section
  section#recording_section.recording-section.mb-5
    //- <iframe src="https://www.w3schools.com" title="W3Schools Free Online Web Tutorials"></iframe>
    iframe(
      id="whiteboard_iframe"
      title="Inline Frame Example"
      width="300"
      height="200"
      src="https://flat-web.whiteboard.agora.io/classroom/BigClass/CN-c3da2258-88a3-4984-b9d5-fe7d2b825237/2d66a537-3646-4c1f-b2c8-ed7b36e48293/")
    button#startRecordingButton(type="button") start
    button#stopRecordingButton(type="button") stop
  // End recording section

  <header class="bg-gray-900">
  <div class="container mx-auto">
    <div class="flex justify-center items-center py-4">
      <h1 class="text-2xl font-bold uppercase">Screen Recorder</h1>
    </div>
  </div>
  </header>

  <main class="overflow-hidden">
    <div class="container mx-auto py-8 px-4">
      <h2 class="text-xl text-gray-500 uppercase font-light mb-4">Video recorder</h2>

      <video src="" autplay class="video-feedback bg-black w-full h-auto mb-4"></video>

      <div class="flex flex-wrap -mx-4 mb-8">
        <button class="start-recording mx-4 flex-1 bg-gradient-to-br from-purple-500 to to-pink-500 p-4 uppercase text-lg font-bold transition-all duration-300 hover:opacity-90 disabled:opacity-50">Record Screen</button>
        <button class="stop-recording mx-4 flex-1 bg-gradient-to-br from-purple-500 to to-pink-500 p-4 uppercase text-lg font-bold transition-all duration-300 hover:opacity-90 disabled:opacity-50" disabled>Stop Recording</button>
      </div>

      <div class="recorded-video-wrap hidden">
        <h2 class="text-xl text-gray-500 uppercase font-light mb-4">Recorded video</h2>

        <video src="" class="recorded-video bg-black w-full h-auto mb-8"></video>
        <div class="flex flex-wrap -mx-4">
          <a class="download-video text-center mx-4 flex-1 bg-gradient-to-br from-purple-500 to to-pink-500 p-4 uppercase text-lg font-bold transition-all duration-300 hover:opacity-90 disabled:opacity-50" disabled>Download</a>
        </div>
      </div>
    </div>
  </main>
